<div class="container">
  <legend>Sign-In</legend>
  <div class="mb-3">
    <label for="txtUserName" class="form-label">User Name</label>
    <input
      type="text"
      class="form-control"
      id="txtUserName"
      [(ngModel)]="loginForm.Email" />
  </div>
  <div class="mb-3">
    <label for="txtPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="txtPassword"
      [(ngModel)]="loginForm.Password" />
  </div>
  <button class="btn btn-primary" (click)="userLogin()">Login</button>
</div>
